body {
    font-family: 'Lobster', cursive;
}

.container, .results {
    width: 400px;
    padding: 10px;
    margin: 50px auto;
    border: 5px solid #FA8072;
    border-radius: 20px;
    background-color: #FFB6C1;
    
    transition: background-color .5s ease-in-out;
    transition: border .2s ease-in-out;
}

.container:hover {
    background-color: #FF8C00 ;
    border-color: #FFFF00;
}
.results:hover {
    background-color: #FF8C00;
    border-color: #FFFF00;
}